.PreviewerHeading{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1rem;
    font-size: large;
    font-weight: 600;
    align-items: center;
    gap: .25rem;
    background-color: rgb(70, 55, 37);
}
.PreviewerHeading .arrow{
    visibility: hidden;
}
[fullScreen = 'full'] .arrow {
  visibility: visible;
}
