.WritingHeading{
    display: flex;
    margin: auto;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    font-size: large;
    font-weight: 600;
    background-color: #1b2d38;
   
}
[fullscreen = "full"] .WritingHeading{
    justify-content: right;
}

.WritingHeading button{
    background-color: #1b2d38;
    border: none;
}
.menubar{
    background-color: brown;
    width: 100px;
    height: 100px;
}
.popupOverlay {
  position: fixed;
  inset: 0;
  background: rgba(43, 41, 41, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  gap: 10px;
}

.popupBox {
  width: 18rem; 
  background: #322d2d;
  row-gap: .25rem;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

.popupTitle {
  font-size: 18px;
  font-weight: bold;
}

.popupActions {
  margin-top: 12px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.popupBtn {
  width: 90%;
  border: 1px solid #ccc;
  padding: 10px 10px;
  border-radius: 8px;
  background: rgb(166, 161, 161);
  color: #1b2d38;
  cursor: pointer;
  font-weight: 600;
}

.popupBtn:hover {
  background: #68a680;
}

.popupClose {
  width: 100%;
  background: black;
  color: white;
  padding: 10px 0;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.popupClose:hover {
  background: #222;
}

.popupBox {
  transform: scale(0.95);
  opacity: 0;
  animation: popupIn 0.2s ease forwards;
}

@keyframes popupIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
